<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.statistics.dao.StatisticsMapper">
  <resultMap id="BaseResultMap" type="com.rainbow.statistics.domain.ResultObj">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>


  <select id="searchResultByCommonConditon" parameterType="com.rainbow.statistics.domain.SearchCondition" resultMap="BaseResultMap">
         select a.`value` as name, ifnull(b.value,0) as value
         from ${configTableName} a
         left join
         (select c.${propertyName} as rid ,count(id) as value  from ${tableName} c group by ${propertyName}) b
         on a.id = b.rid
  </select>

    <select id="getStatisticsResultByYear" parameterType="com.rainbow.statistics.domain.SearchCondition" resultType="com.rainbow.statistics.domain.YearResultObj">
        select
         sum(case when year(t.${propertyName}) <![CDATA[  >=  ]]> 2000 then 1 else 0 end ) big,
         sum(case when year(t.${propertyName}) <![CDATA[  <  ]]>  2000 then 1 else 0 end ) small
        from  ${tableName} t
    </select>

    <select id="getStatisticsResultByBoolean" parameterType="com.rainbow.statistics.domain.SearchCondition" resultType="com.rainbow.statistics.domain.ResultObj">
         select if(t.${propertyName}=0,"否","是") as name, count(id) as value from ${tableName} t group by t.${propertyName}
    </select>


    <select id="searchResultByPermitStageConditon" parameterType="com.rainbow.statistics.domain.SearchCondition" resultMap="BaseResultMap">
         select a.`value` as name, ifnull(b.value,0) as value
         from ${configTableName} a
         left join
         (select c.${propertyName} as rid ,count(id) as value  from ${tableName} c
                where year(c.${dateProperty}) between year(#{startDate}) and year(#{endDate}) group by ${propertyName}) b
         on a.id = b.rid
         order by a.order
  </select>

    <select id="searchResultByPermitDateConditon" parameterType="com.rainbow.statistics.domain.SearchCondition" resultType="com.rainbow.statistics.domain.PermitReportDomainResult">
        select a.id id,a.`value`,b.reportYear,b.sumNum  from ${configTableName} a

        left join (select year(t.${dateProperty}) reportYear, t.${propertyName}, count(t.id) sumNum from  ${tableName} t group by year(t.${dateProperty}), t.${propertyName}) b

        on a.id=b.${propertyName}

      order by a.`order`

  </select>



    <select id="searchSumReportByDateGroup"  resultMap="BaseResultMap" parameterType="com.rainbow.statistics.domain.SearchCondition">
        select year(t.${dateProperty}) as name , count(id) as value  from ${tableName} t group by year(t.${dateProperty}) order by year(t.${dateProperty);
    </select>

    <select id="searchReportByDateAndSum" resultMap="BaseResultMap" parameterType="com.rainbow.statistics.domain.SearchCondition">
        select year(t.${dateProperty}) name, count(id) value from ${tableName} t where year(t.${dateProperty}) between year(#{startDate}) and year(#{endDate}) group by year(t.${dateProperty})
    </select>


    <select id="searchResultByDateConditon" parameterType="com.rainbow.statistics.domain.SearchCondition" resultType="com.rainbow.statistics.domain.PermitReportDomainResult">
        select a.id id,a.`value`,b.reportYear,b.sumNum  from ${configTableName} a

        left join (select year(t.${dateProperty}) reportYear, t.${propertyName}, count(t.id) sumNum from  ${tableName} t

        <if test="ids != null ">
           where t.${idsProperty} = #{ids} and year(t.find_date) between year(#{startDate}) and year(#{endDate})
        </if>

        <if test="ids == null">
            where year(t.find_date) between year(#{startDate}) and year(#{endDate})
        </if>

        <if test="isService !=null and isService == 'true'">
            and t.fac_id = ''
        </if>

        <if test="isService !=null and isService == 'false'">
            and t.fac_id != ''
        </if>

        group by year(t.${dateProperty}), t.${propertyName}) b

        on a.id=b.${propertyName}

        order by a.`order`

    </select>


    <!--根据问题性质进行统计，横轴为性质，纵轴为所选年度性质的总和-->
    <select id="searchResultByTypeConditon" parameterType="com.rainbow.statistics.domain.SearchCondition" resultMap="BaseResultMap">
        select a.`value` as name, ifnull(b.value,0) as value
        from ${configTableName} a
        left join
        (select t.${propertyName} as rid ,count(id) as value  from ${tableName} t

        <if test="ids != null">
           where t.${idsProperty} = #{ids} and year(t.find_date) between year(#{startDate}) and year(#{endDate})
        </if>

        <if test="ids == null">
            where year(t.find_date) between year(#{startDate}) and year(#{endDate})
        </if>

        <if test="isService !=null and isService == 'true'">
            and t.fac_id = ''
        </if>

        <if test="isService !=null and isService == 'false'">
            and t.fac_id != ''
        </if>


        group by ${propertyName}) b
        on a.id = b.rid
        order by a.order
    </select>


    <!--整改状态作为横轴，问题类别及数量作为纵轴-->
    <select id="searchResultByStatusAndType" parameterType="com.rainbow.statistics.domain.SearchCondition" resultType="com.rainbow.statistics.domain.PermitReportDomainResult">
        select a.id id,a.`value`,b.reportYear,b.sumNum from ${configTableName} a

        left join  (select s.value reportYear, t.${propertyName}, count(t.id) sumNum  from ${tableName} t

        left join  config_security_reform_status s on s.id = t.reform_status_id

        <if test="ids != null">
            where t.${idsProperty} = #{ids} and year(t.find_date) between year(#{startDate}) and year(#{endDate})
        </if>

        <if test="ids == null">
            where year(t.find_date) between year(#{startDate}) and year(#{endDate})
        </if>

        <if test="isService !=null and isService == 'true'">
            and t.fac_id = ''
        </if>

        <if test="isService !=null and isService == 'false'">
            and t.fac_id != ''
        </if>

        group by t.reform_status_id,t.question_type_id) b
        on a.id = b.question_type_id
        order by a.`order`
    </select>
</mapper>