<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.system.dao.UserMapper">
  <resultMap id="SystemUserResultMap" type="com.rainbow.system.domain.SystemUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>

  <resultMap id="UserWithRoleMap" extends="SystemUserResultMap" type="com.rainbow.system.domain.extend.UserWithRole">
    <collection property="roleList" javaType="ArrayList" ofType="com.rainbow.system.domain.Role">
      <id column="role_id" jdbcType="VARCHAR" property="id" />
      <result column="role_name" jdbcType="VARCHAR" property="name" />
      <result column="role_note" jdbcType="VARCHAR" property="note" />
    </collection>
  </resultMap>

  <resultMap id="SystemUserExtendMap" extends="SystemUserResultMap" type="com.rainbow.system.domain.extend.SystemUserExtend">
    <result column="department" jdbcType="VARCHAR" property="department" />
  </resultMap>

  <select id="login" parameterType="map" resultMap="SystemUserResultMap">
    select * from system_user t where t.username = #{username} and  t.password=#{password}
  </select>

  <select id="findUserByUsername" resultMap="SystemUserResultMap">
    select * from system_user t where t.username = #{username}
  </select>

  <select id="getUserList" parameterType="map" resultMap="SystemUserExtendMap">
    select t.*,o.name as department from system_user t left join system_organization o on t.org_id=o.id where 1=1
    <if test="username != null and username != ''">
      and instr(t.username,#{username})>0
    </if>
    <if test="realname != null and realname != ''">
      and instr(t.realname,#{realname})>0
    </if>
    <if test="department != null and department != ''">
      and org_id in (select id from  system_organization so where instr(so.name,#{department})>0)
    </if>
    order by modify_date desc
  </select>

  <select id="getUserDetailByUserId" resultMap="UserWithRoleMap">
    select
     u.*,
     r.id role_id,
     r.name role_name,
     r.note role_note
    from system_user u
    inner join system_user_role ur on u.id = ur.user_id
    inner join system_role r on ur.role_id = r.id
    where u.id = #{id}
  </select>

  <select id="getPermissionByUserId" resultType="java.lang.String">
    select  m.code
    from system_user u
    inner join system_user_role ur on u.id = ur.user_id
    inner join system_role r on r.id = ur.role_id
    inner join system_role_menu rm on rm.role_id =r.id
    inner join system_menu m on m.id=rm.menu_id
    where u.id = #{id}
    and (SELECT COUNT(1) FROM system_menu sm where sm.parent_id = m.id)=0
    group by m.id,m.code

  </select>

  <update id="changePassword" parameterType="com.rainbow.system.domain.SystemUser">
    update system_user set password=#{password} where id =#{id}
  </update>
</mapper>