<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.system.dao.SystemMenuMapper">
  <resultMap id="BaseResultMap" type="com.rainbow.system.domain.SystemMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="menu_level" jdbcType="INTEGER" property="menuLevel" />
    <result column="menu_order" jdbcType="INTEGER" property="menuOrder" />
  </resultMap>
</mapper>