<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.system.dao.UserMapper">
  <resultMap id="SystemUserResultMap" type="com.rainbow.system.domain.SystemUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
  </resultMap>

  <resultMap id="UserWithRoleMap" type="com.rainbow.system.domain.extend.UserWithRole">
    <collection property="roleList" columnPrefix="role_" resultMap="com.rainbow.system.domain.Role"></collection>
  </resultMap>

  <select id="login" parameterType="map" resultMap="SystemUserResultMap">
    select * from system_user t where t.username = #{username} and  t.password=#{password}
  </select>

  <select id="findUserByUsername" resultMap="SystemUserResultMap">
    select * from system_user t where t.username = #{username}
  </select>

  <select id="getUserDetailByUserId" resultMap="UserWithRoleMap">
    select
     u.*,
     r.id role_id,
     r.name role_name,
     r.note role_note
    from system_user u
    inner join system_user_role ur on u.id = ur.user_id
    inner join system_role r on ur.role_id = r.id
    where u.id = #{userId}
  </select>

  <select id="getPermissionByUserId" resultType="java.lang.String">
    select  m.`code`
    from system_user u
    inner join system_user_role ur on u.id = ur.user_id
    inner join system_role r on r.id = ur.role_id
    inner join system_role_menu rm on rm.role_id =r.id
    inner join system_menu m on m.id=rm.menu_id
    where u.id = #{userId}
    group by m.id

  </select>
</mapper>