<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.check.dao.ActivityFileCheckMapper">
  <resultMap id="ActivityFileCheckBaseResultMap" type="com.rainbow.check.domain.ActivityFileCheck">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="check_activity_id" jdbcType="VARCHAR" property="checkActivityId" />
    <result column="activity_check_file_type_id" jdbcType="VARCHAR" property="activityCheckFileTypeId" />
    <result column="file_date" jdbcType="DATE" property="fileDate" />
    <result column="file_no" jdbcType="VARCHAR" property="fileNo" />
  </resultMap>

  <resultMap id="ActivityFileCheckExtendMap" extends="ActivityFileCheckBaseResultMap" type="com.rainbow.check.domain.ActivityFileCheckExtend">
    <result column="activityCheckFileTypeValue" jdbcType="VARCHAR" property="activityCheckFileTypeValue" />
  </resultMap>


  <select id="getActivityFileCheckList" parameterType="map" resultMap="ActivityFileCheckExtendMap">

    select
    t.*,
    f.value activityCheckFileTypeValue
    from check_activity_file t
    left join  config_activity_check_file_type f on t.activity_check_file_type_id = f.id
    where t.check_activity_id = #{activityId}

    <!--<if test="file_name != null and file_name != ''">-->
      <!--and instr(t.file_name,#{file_name})>0-->
    <!--</if>-->

    <if test="start_date != null and start_date != ''">
      and DATE(t.file_date) <![CDATA[  >=  ]]> DATE(#{start_date})
    </if>

    <if test="end_date != null and end_date != ''">
      and DATE(t.file_date) <![CDATA[  <=  ]]> DATE(#{end_date})
    </if>

    <if test="typeIds != null">
      and t.check_file_type_id in (
      <foreach item="item" index="index" collection="typeIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    order by t.file_date desc


  </select>

  <select id="getActivityFileCheckById" parameterType="map" resultMap="ActivityFileCheckExtendMap">

    select
    t.*,
    f.value activityCheckFileTypeValue
    from check_activity_file t
    left join  config_activity_check_file_type f on t.activity_check_file_type_id = f.id
    where t.id = {id}

  </select>
</mapper>