<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.check.dao.UminePlaceFileCheckMapper">
  <resultMap id="UminePlaceFileBaseResultMap" type="com.rainbow.check.domain.UminePlaceFileCheck">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="check_umine_place_id" jdbcType="VARCHAR" property="checkUminePlaceId" />
    <result column="check_file_type_id" jdbcType="VARCHAR" property="checkFileTypeId" />
    <result column="file_date" jdbcType="DATE" property="fileDate" />
    <result column="file_no" jdbcType="VARCHAR" property="fileNo" />
  </resultMap>

  <resultMap id="UminePlaceFileExtendMap" extends="UminePlaceFileBaseResultMap" type="com.rainbow.check.domain.UminePlaceFileCheckExtend">
    <result column="uminePlaceCheckFileTypeValue" jdbcType="VARCHAR" property="uminePlaceCheckFileTypeValue" />
  </resultMap>



  <select id="getUminePlaceFileCheckList" parameterType="map" resultMap="UminePlaceFileExtendMap">

    select
    t.*,
    f.value uminePlaceCheckFileTypeValue
    from check_umine_place_file t
    left join  config_fac_check_file_type f on t.check_file_type_id = f.id
    where t.check_umine_place_id = #{umineplaceId}

    <if test="file_name != null and file_name != ''">
      and instr(t.file_name,#{file_name})>0
    </if>

    <if test="start_date != null and start_date != ''">
      and DATE(t.file_date) <![CDATA[  >=  ]]> DATE(#{start_date})
    </if>

    <if test="end_date != null and end_date != ''">
      and DATE(t.file_date) <![CDATA[  <=  ]]> DATE(#{end_date})
    </if>

    <if test="typeIds != null">
      and t.check_file_type_id in (
      <foreach item="item" index="index" collection="typeIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    order by t.file_date desc

  </select>



  <select id="getUminePlaceFileCheckById" parameterType="map" resultMap="UminePlaceFileExtendMap">

    select
    t.*,
    f.value uminePlaceCheckFileTypeValue
    from check_umine_place_file t
    left join  config_fac_check_file_type f on t.check_file_type_id = f.id
    where t.id = {id}

  </select>

</mapper>