<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.monitor.dao.CheckFileMonitorMapper">
  <resultMap id="CheckFileMonitorBaseResultMap" type="com.rainbow.monitor.domain.CheckFileMonitor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="monitor_check_id" jdbcType="VARCHAR" property="monitorCheckId" />
    <result column="monitor_check_file_type_id" jdbcType="VARCHAR" property="monitorCheckFileTypeId" />
    <result column="file_no" jdbcType="VARCHAR" property="fileNo" />
    <result column="file_date" jdbcType="DATE" property="fileDate" />
  </resultMap>


  <resultMap id="CheckFileMonitorExtendMap" extends="CheckFileMonitorBaseResultMap" type="com.rainbow.monitor.domain.extend.CheckFileMonitorExtend">
    <result column="typeValue" jdbcType="VARCHAR" property="typeValue" />
  </resultMap>


  <select id="getCheckFileMonitorList" parameterType="map" resultMap="CheckFileMonitorExtendMap">

    select
    t.*,
    f.value typeValue
    from monitor_check_file t
    left join  config_monitor_check_file_type f on t.monitor_check_file_type_id = f.id
    where 1=1

    <if test="start_date != null and start_date != ''">
      and and t.file_date <![CDATA[  >=  ]]> #{start_date}
    </if>

    <if test="end_date != null and end_date != ''">
      and  t.file_date <![CDATA[  <=  ]]> #{end_date}
    </if>

    <if test="typeIds != null">
      and t.monitor_check_file_type_id in (
      <foreach item="item" index="index" collection="typeIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

  </select>

  <select id="getCheckFileMonitorById" parameterType="map" resultMap="CheckFileMonitorExtendMap">

    select
    t.*,
    f.value typeValue
    from monitor_check_file t
    left join  config_monitor_check_file_type f on t.monitor_check_file_type_id = f.id
    where t.id = {id}

  </select>
</mapper>