<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.monitor.dao.DailyMonitorMapper">
  <resultMap id="DailyMonitorBaseResultMap" type="com.rainbow.monitor.domain.DailyMonitor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="service_id" jdbcType="VARCHAR" property="serviceId" />
    <result column="fac_id" jdbcType="VARCHAR" property="facId" />
    <result column="status_id" jdbcType="VARCHAR" property="statusId" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="file_type_id" jdbcType="VARCHAR" property="fileTypeId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_date" jdbcType="DATE" property="fileDate" />
    <result column="is_import" jdbcType="INTEGER" property="isImport" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <resultMap id="DailyMonitorExtendMap" extends="DailyMonitorBaseResultMap" type="com.rainbow.monitor.domain.extend.DailyMonitorExtend">
    <result column="serviceDepartName" jdbcType="VARCHAR" property="serviceDepartName" />
    <result column="facName" jdbcType="VARCHAR" property="facName" />
    <result column="stageVaue" jdbcType="VARCHAR" property="stageVaue" />
    <result column="orgName" jdbcType="VARCHAR" property="orgName" />
    <result column="fileTypeValue" jdbcType="VARCHAR" property="fileTypeValue" />
  </resultMap>



  <select id="getDailyMonitorList" parameterType="map" resultMap="DailyMonitorExtendMap">

    select
    t.*,
    sd.name serviceDepartName,
    f.name facName,
    s.value stageVaue,
    so.value orgName,
    ty.value fileTypeValue
    from monitor_daily t
    left join unit_service_depart sd on t.service_id = sd.id
    left join unit_fac f on t.fac_id = f.id
    left join config_fac_status s on t.status_id = s.id
    left join supervision_org so on t.org_id = so.id
    left join config_monitor_daily_file_type ty on t.file_type_id = ty.id
    where 1=1

    <if test="serviceDepartName != null and serviceDepartName != ''">
      and instr(sd.name,#{serviceDepartName})>0
    </if>

    <if test="facName != null and facName != ''">
      and instr(f.name,#{facName})>0
    </if>

    <if test="stageIds != null">
      and t.status_id in (
      <foreach item="item" index="index" collection="stageIds" separator=",">
        #{item}
      </foreach>
      )
    </if>


    <if test="fileTypeIds != null">
      and t.file_type_id in (
      <foreach item="item" index="index" collection="fileTypeIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="file_name != null and file_name != ''">
      and instr(t.file_name,#{file_name})>0
    </if>

    <if test="start_date != null and start_date != ''">
      and and t.file_date <![CDATA[  >=  ]]> #{start_date}
    </if>

    <if test="end_date != null and end_date != ''">
      and and t.file_date <![CDATA[  <=  ]]> #{end_date}
    </if>
  </select>



  <select id="getDailyMonitorById" parameterType="java.lang.String" resultMap="DailyMonitorExtendMap">


    select
    t.*,
    sd.name serviceDepartName,
    f.name facName,
    s.value stageVaue,
    so.value orgName,
    ty.value fileTypeValue
    from monitor_daily t
    left join unit_service_depart sd on t.service_id = sd.id
    left join unit_fac f on t.fac_id = f.id
    left join config_fac_status s on t.status_id = s.id
    left join supervision_org so on t.org_id = so.id
    left join config_monitor_daily_file_type ty on t.file_type_id = ty.id
    where t.id = #{id}

  </select>
</mapper>