<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.monitor.dao.WitnessMonitorMapper">
  <resultMap id="WitnessMonitorBaseResultMap" type="com.rainbow.monitor.domain.WitnessMonitor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="service_id" jdbcType="VARCHAR" property="serviceId" />
    <result column="umine_id" jdbcType="VARCHAR" property="umineId" />
    <result column="equip_depart_id" jdbcType="VARCHAR" property="equipDepartId" />
    <result column="depart_type_id" jdbcType="VARCHAR" property="departTypeId" />
    <result column="witness_object" jdbcType="VARCHAR" property="witnessObject" />
    <result column="witness_date" jdbcType="DATE" property="witnessDate" />
    <result column="witness" jdbcType="VARCHAR" property="witness" />
    <result column="is_import" jdbcType="INTEGER" property="isImport" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="witness_items" jdbcType="LONGVARCHAR" property="witnessItems" />
    <result column="witness_result" jdbcType="LONGVARCHAR" property="witnessResult" />
    <result column="witness_question" jdbcType="LONGVARCHAR" property="witnessQuestion" />
    <result column="reform" jdbcType="LONGVARCHAR" property="reform" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>


  <resultMap id="WitnessMonitorExtendMap" extends="WitnessMonitorBaseResultMap" type="com.rainbow.monitor.domain.extend.WitnessMonitorExtend">
    <result column="serviceDepartName" jdbcType="VARCHAR" property="serviceDepartName" />
    <result column="umineName" jdbcType="VARCHAR" property="umineName" />
    <result column="equipDepartName" jdbcType="VARCHAR" property="equipDepartName" />
  </resultMap>


  <select id="getWitnessMonitorList" parameterType="map" resultMap="WitnessMonitorExtendMap">
    select
    t.*,
    sd.name serviceDepartName,
    u.name umineName,
    ed.name equipDepartName
    from monitor_witness t
    left join unit_service_depart sd on t.service_id = sd.id
    left join unit_umine u on t.umine_id = u.id
    left join unit_equip_depart ed on t.equip_depart_id = ed.id
    where 1=1
    <!--    <if test="serviceDepartName != null and serviceDepartName != ''">-->
    <!--      and instr(sd.name,#{serviceDepartName})>0-->
    <!--    </if>-->

    <!--    <if test="umineName != null and umineName != ''">-->
    <!--      and instr(u.name,#{serviceDepartName})>0-->
    <!--    </if>-->

    <if test="name != null and name != ''">
      and (instr(sd.name,#{name})>0 or instr(u.name,#{name})>0 or instr(ed.name,#{name})>0)
    </if>

    <!--    <if test="equipDepartName != null and equipDepartName != ''">-->
    <!--      and instr(ed.name,#{serviceDepartName})>0-->
    <!--    </if>-->

    <if test="witness_obj!= null and witness_obj != ''">
      and instr(t.witness_object,#{witness_obj})>0
    </if>

    <if test="witness_items != null and witness_items != ''">
      and instr(t.witness_items,#{witness_items})>0
    </if>

    <if test="start_date != null and start_date != ''">
      and substr(t.witness_date,0,7)
      <![CDATA[  >=  ]]>
      substr(#{start_date},0,7)
    </if>

    <if test="end_date != null and end_date != ''">
      and substr(t.witness_date,0,7)
      <![CDATA[  <=  ]]>
      substr(#{end_date},0,7)
    </if>

    <if test="servicedepartId != null and servicedepartId != ''">
      and t.service_id = #{servicedepartId}
    </if>

    <if test="equipdepartId != null and equipdepartId != ''">
      and t.equip_depart_id = #{equipdepartId}
    </if>
    <if test="umineId != null and umineId != ''">
      and t.umine_id = #{umineId}
    </if>

    <choose>
      <when test="checked != null and checked != ''">
        order by t.modify_date desc
      </when>
      <otherwise>
        order by t.witness_date desc, sd.name,u.name,ed.name,t.witness_object
      </otherwise>
    </choose>

  </select>


  <select id="getWitnessMonitorById" parameterType="java.lang.String" resultMap="WitnessMonitorExtendMap">

    select
    t.*,
    sd.name serviceDepartName,
    u.name umineName,
    ed.name equipDepartName
    from monitor_witness t
    left join unit_service_depart sd on t.service_id = sd.id
    left join unit_umine u on t.umine_id = u.id
    left join unit_equip_depart ed on t.equip_depart_id = ed.id
    where t.id = #{id}

  </select>

  <select id="verifyDuplication" resultType="int" parameterType="java.util.Map">
    select count(1) from monitor_witness t where t.witness_items=#{witnessItems} and t.witness_date=#{witnessDate}
    <if test="equipDepartId != null and equipDepartId != ''">
      and t.equip_depart_id = #{equipdepartId}
    </if>
    <if test="umineId != null and umineId != ''">
      and t.umine_id = #{umineId}
    </if>
    <if test="serviceId != null and serviceId != ''">
      and t.service_id = #{serviceId}
    </if>
  </select>
</mapper>