<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.supervision.dao.OperatorLisenceMapper">
  <resultMap id="BaseOperatorLisenceResultMap" type="com.rainbow.supervision.domain.OperatorLisence">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="identity" jdbcType="VARCHAR" property="identity" />
    <result column="employ_depart" jdbcType="VARCHAR" property="employDepart" />
    <result column="heap_name" jdbcType="VARCHAR" property="heapName" />
    <result column="license_type_id" jdbcType="VARCHAR" property="licenseTypeId" />
    <result column="license_number" jdbcType="VARCHAR" property="licenseNumber" />
    <result column="cert_depart" jdbcType="VARCHAR" property="certDepart" />
    <result column="cert_date" jdbcType="DATE" property="certDate" />
    <result column="expire_date" jdbcType="DATE" property="expireDate" />
    <result column="is_import" jdbcType="INTEGER" property="isImport" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <resultMap id="OperatorLisenceExtendMap" extends="BaseOperatorLisenceResultMap" type="com.rainbow.supervision.domain.extend.OperatorLisenceExtend">
    <result column="licenseTypeValue" jdbcType="VARCHAR" property="licenseTypeValue" />
  </resultMap>

  <select id="getOperatorLisenceList" parameterType="map" resultMap="OperatorLisenceExtendMap">

    select
      t.*,
      lt.value licenseTypeValue
    from supervision_operator t
    left join config_operator_license_type lt on t.license_type_id = lt.id
    where 1=1

    <if test="name != null and name != ''">
      and instr(t.name,#{name})>0
    </if>

    <if test="employ_depart != null and employ_depart != ''">
      and instr(t.employ_depart,#{employ_depart})>0
    </if>

    <if test="heap_name != null and heap_name != ''">
      and instr(t.heap_name,#{heap_name})>0
    </if>

    <if test="lisenceTypeIds != null">
      and t.license_type_id in (
      <foreach item="item" index="index" collection="lisenceTypeIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="start_date != null and start_date != ''">
      and t.expire_date <![CDATA[  =>  ]]> #{start_date}
    </if>

    <if test="end_date != null and end_date != ''">
      and t.expire_date <![CDATA[  =>  ]]> #{end_date}
    </if>

  </select>

  <select id="getOperatorLisenceById" parameterType="map" resultMap="OperatorLisenceExtendMap">

    select
      t.*,
      lt.value licenseTypeValue
    from supervision_operator t
    left join config_operator_license_type lt on t.license_type_id = lt.id
    where t.id = #{id}

  </select>

</mapper>