<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.supervision.dao.SupervisorMapper">
  <resultMap id="BaseResultMap" type="com.rainbow.supervision.domain.Supervisor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="identity" jdbcType="VARCHAR" property="identity" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="entry_date" jdbcType="DATE" property="entryDate" />
    <result column="title_id" jdbcType="VARCHAR" property="titleId" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="political_id" jdbcType="VARCHAR" property="politicalId" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="continue_time" jdbcType="VARCHAR" property="continueTime" />
    <result column="education_id" jdbcType="VARCHAR" property="educationId" />
    <result column="degree_id" jdbcType="VARCHAR" property="degreeId" />
    <result column="education_school" jdbcType="VARCHAR" property="educationSchool" />
    <result column="educate_date" jdbcType="DATE" property="educateDate" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="is_import" jdbcType="INTEGER" property="isImport" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <resultMap id="SupervisionSupervisorListMap" extends="BaseResultMap" type="com.rainbow.supervision.controller.domain.SupervisionSupervisorResponse">
    <result column="orgName" jdbcType="VARCHAR" property="orgName" />
    <result column="titleName" jdbcType="VARCHAR" property="titleName" />
      <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>

  <select id="getSupervisionSupervisorList" parameterType="map" resultMap="SupervisionSupervisorListMap">
      select m.id,m.name,m.birthday,m.orgName,m.entry_date,titleName,case when m.expire_date>=CURDATE() then 1 else 0 END as valid from (
      SELECT ss.id,ss.name,ss.birthday,ss.org_id,so.name as orgName,ss.entry_date,ct.value as titleName,
      (select max(str.expire_date) from supervisor_train_records str
      where str.supervisor_id = ss.id ) as expire_date
      from supervision_supervisor ss
      left JOIN supervision_org so on ss.org_id = so.id
      left join config_title ct on ss.title_id = ct.id
      ) m
      where 1=1
      <if test="name != null and name != ''">
         and instr(m.name,#{name})>0
      </if>

      <if test="orgId != null and orgId != ''">
         and m.org_id = #{orgId}
      </if>

      <if test="expireDate != null and expireDate != ''">
          and m.expire_date >=#{expireDate}
      </if>

  </select>

</mapper>