<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.supervision.dao.SupervisionSastindMapper">
  <resultMap id="BaseResultMap" type="com.rainbow.supervision.domain.SupervisionSastind">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
    <result column="leader_tel" jdbcType="VARCHAR" property="leaderTel" />
    <result column="security_leader" jdbcType="VARCHAR" property="securityLeader" />
    <result column="security_leader_tel" jdbcType="VARCHAR" property="securityLeaderTel" />
    <result column="permit_leader" jdbcType="VARCHAR" property="permitLeader" />
    <result column="permit_leader_tel" jdbcType="VARCHAR" property="permitLeaderTel" />
    <result column="supervise_leader" jdbcType="VARCHAR" property="superviseLeader" />
    <result column="supervise_leader_tel" jdbcType="VARCHAR" property="superviseLeaderTel" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="org_set" jdbcType="LONGVARCHAR" property="orgSet" />
    <result column="duty" jdbcType="LONGVARCHAR" property="duty" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <select id="getSastindList" parameterType="map" resultMap="BaseResultMap">
    SELECT  *from supervision_sastind t
    where 1=1
    <if test="name!=null and name!=''">
      and instr(t.name,#{name})>0
    </if>
  </select>

</mapper>