<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.supervision.dao.ExpertMapper">
  <resultMap id="ExpertBaseResultMap" type="com.rainbow.supervision.domain.Expert">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="identity" jdbcType="VARCHAR" property="identity" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="title_id" jdbcType="VARCHAR" property="titleId" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="org" jdbcType="VARCHAR" property="org" />
    <result column="is_import" jdbcType="INTEGER" property="isImport" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <resultMap id="ExpertExtendMap" extends="ExpertBaseResultMap" type="com.rainbow.supervision.domain.extend.ExpertExtend">
    <result column="titleValue" jdbcType="VARCHAR" property="titleValue" />
  </resultMap>

  <select id="getExpertList" parameterType="map" resultMap="ExpertExtendMap">

    select
      t.*,
      ct.value titleValue
    from supervision_expert t
    left join config_title ct on t.title_id = ct.id
    where 1=1

    <if test="name != null and name != ''">
      and instr(t.name,#{name})>0
    </if>

    <if test="major != null and major != ''">
      and instr(t.major,#{major})>0
    </if>

    <if test="start_date != null and start_date != ''">
      and and t.birthday <![CDATA[  >=  ]]> #{start_date}
    </if>

    <if test="end_date != null and end_date != ''">
      and  t.birthday <![CDATA[  <=  ]]> #{end_date}
    </if>


  </select>


  <select id="getExpertById" parameterType="map" resultMap="ExpertExtendMap">

    select
     t.*,
     ct.value titleValue
    from supervision_expert t
    left join config_title ct on t.title_id = ct.id
    where t.id = #{id}

  </select>

</mapper>