<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.unit.dao.FacMapper">
  <resultMap id="FacBaseResultMap" type="com.rainbow.unit.domain.Fac">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="service_id" jdbcType="VARCHAR" property="serviceId" />
    <result column="builder" jdbcType="VARCHAR" property="builder" />
    <result column="build_year" jdbcType="DATE" property="buildYear" />
    <result column="supervision_category_id" jdbcType="VARCHAR" property="supervisionCategoryId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="status_id" jdbcType="VARCHAR" property="statusId" />
    <result column="review_status_id" jdbcType="VARCHAR" property="reviewStatusId" />
    <result column="fac_permit_situation_id" jdbcType="VARCHAR" property="facPermitSituationId" />
    <result column="is_earthquake" jdbcType="INTEGER" property="isEarthquake" />
    <result column="is_flood" jdbcType="INTEGER" property="isFlood" />
    <result column="is_import" jdbcType="INTEGER" property="isImport" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="survey" jdbcType="LONGVARCHAR" property="survey" />
    <result column="feature" jdbcType="LONGVARCHAR" property="feature" />
    <result column="tech_des" jdbcType="LONGVARCHAR" property="techDes" />
    <result column="design_standard_accident" jdbcType="LONGVARCHAR" property="designStandardAccident" />
    <result column="measure" jdbcType="LONGVARCHAR" property="measure" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <resultMap id="FacExtendMap" extends="FacBaseResultMap" type="com.rainbow.unit.domain.FacExtend">
    <result column="serviceDepart" jdbcType="VARCHAR" property="serviceDepart" />
    <result column="supervisionCategoryValue" jdbcType="VARCHAR" property="supervisionCategoryValue" />
    <result column="typeValue" jdbcType="VARCHAR" property="typeValue" />
    <result column="statusValue" jdbcType="VARCHAR" property="statusValue" />
    <result column="reviewStatusValue" jdbcType="VARCHAR" property="reviewStatusValue" />
    <result column="permitSituationValue" jdbcType="VARCHAR" property="permitSituationValue" />
  </resultMap>


  <select id="getFacNumByServiceId" parameterType="java.lang.String" resultType="int">
    select
     ifnull(count(id),0)
    from unit_fac t
    where t.service_id = #{serviceId}
  </select>

  <select id="getFacList" parameterType="map" resultMap="FacExtendMap">
    select
     t.*,
     us.name serviceDepart,
     sc.value supervisionCategoryValue,
     ft.value typeValue,
     fs.value statusValue,
     rs.value reviewStatusValue,
     ps.value permitSituationValue
    from unit_fac t
    left join unit_service_depart us on t.service_id = us.id
    left join config_fac_supervison_category sc on t.supervision_category_id = sc.id
    left join config_fac_type ft on t.type_id = ft.id
    left join config_fac_status fs on t.status_id = fs.id
    left join config_review_status rs on t.review_status_id = rs.id
    left join config_fac_permit_situation ps on t.fac_permit_situation_id = ps.id
    where 1=1
    <if test="name != null and name != ''">
      and instr(t.name,#{name})>0
    </if>

    <if test="code != null and code != ''">
      and instr(t.code,#{code})>0
    </if>

    <if test="serviceDepart != null and serviceDepart != ''">
      and instr(us.name,#{serviceDepart})>0
    </if>

    <if test="build_start_year != null and build_start_year != ''">
      and year(t.build_year)
      <![CDATA[  >=  ]]>
      year(#{build_start_year})
    </if>

    <if test="build_end_year != null and build_end_year != ''">
      and year(t.build_year)
      <![CDATA[  <=  ]]>
      year(#{build_end_year})
    </if>

    <if test="supervisionCategoryIds != null">
      and t.supervision_category_id in (
      <foreach item="item" index="index" collection="supervisionCategoryIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="typeIds != null">
      and t.type_id in (
      <foreach item="item" index="index" collection="typeIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="statusIds != null">
      and t.status_id in (
      <foreach item="item" index="index" collection="statusIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="reviewStatusIds != null">
      and t.review_status_id in (
      <foreach item="item" index="index" collection="reviewStatusIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="permitSituationIds != null">
      and t.fac_permit_situation_id in (
      <foreach item="item" index="index" collection="permitSituationIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="is_earthquake != null and is_earthquake != ''">
      and t.is_earthquake = #{is_earthquake}
    </if>

    <if test="is_flood != null and is_flood != ''">
      and t.is_flood = #{is_flood}
    </if>

    <choose>
      <when test="checked != null and checked != ''">
        order by t.modify_date desc
      </when>
      <otherwise>
        order by CONVERT(us.name using gbk),t.build_year desc,CONVERT(t.name using gbk)
      </otherwise>
    </choose>

  </select>


  <select id="getFacById" parameterType="java.lang.String" resultMap="FacExtendMap">

    select
     t.*,
     us.name serviceDepart,
     sc.value supervisionCategoryValue,
     ft.value typeValue,
     fs.value statusValue,
     rs.value reviewStatusValue,
     ps.value permitSituationValue
    from unit_fac t
    left join unit_service_depart us on t.service_id = us.id
    left join config_fac_supervison_category sc on t.supervision_category_id = sc.id
    left join config_fac_type ft on t.type_id = ft.id
    left join config_fac_status fs on t.status_id = fs.id
    left join config_review_status rs on t.review_status_id = rs.id
    left join config_fac_permit_situation ps on t.fac_permit_situation_id = ps.id
    where t.id = #{id}

  </select>

  <delete id="deleteFacById" parameterType="java.lang.String">
    delete from unit_fac where id = #{id}
  </delete>

  <!--查询是否存在，每次需要根据进度添加 exists-->
  <select id="getFacRelationCount" parameterType="java.lang.String" resultType="java.lang.Object">
    select
     t.id
    from unit_fac t
    where t.id = #{id}
    and not exists(select 1 from unit_fac_improve a where a.fac_id = t.id)
    and not exists(select 1 from unit_fac_report b where b.fac_id = t.id)
    and not exists(select 1 from permit_fac c where c.fac_id = t.id)
    and not exists(select 1 from permit_equip d where d.fac_id = t.id)
    and not exists(select 1 from permit_activity e where e.fac_id = t.id)
    and not exists(select 1 from check_fac f where f.fac_id = t.id)
    and not exists(select 1 from check_equip g where g.fac_id = t.id)
    and not exists(select 1 from check_activity h where h.fac_id = t.id)
    and not exists(select 1 from monitor_daily i where i.fac_id = t.id)
    and not exists(select 1 from security_fac j where j.fac_id = t.id)
    and not exists(select 1 from security_equip k where k.fac_id = t.id)
    and not exists(select 1 from security_accident l where l.fac_id = t.id)
  </select>

  <select id="getFacListByServiceId" parameterType="java.lang.String" resultMap="FacBaseResultMap">
    select * from unit_fac t where t.service_id = #{serviceId}
  </select>

  <select id="getFacCount" resultType="java.lang.Integer">
    select count(id) from unit_fac;
  </select>

  <select id="getFacIdByName" parameterType="java.lang.String" resultType="java.lang.String">
    select t.id from unit_fac t where t.`name`=#{name} limit 1;
  </select>

  <select id="verifyDuplication" resultType="int" parameterType="java.util.Map">
    select count(1) from unit_fac t where t.service_id=#{serviceId} and t.name=#{name} ;
  </select>
</mapper>