<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.unit.dao.FacReportMapper">
  <resultMap id="BaseFacResultResultMap" type="com.rainbow.unit.domain.FacReport">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="fac_id" jdbcType="VARCHAR" property="facId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="report_date" jdbcType="DATE" property="reportDate" />
  </resultMap>

  <resultMap id="FacReportExtendMap" extends="BaseFacResultResultMap" type="com.rainbow.unit.domain.FacReportExtend">
    <result column="reportTypeValue" jdbcType="VARCHAR" property="reportTypeValue" />
  </resultMap>


  <select id="getFacReportList" parameterType="map" resultMap="FacReportExtendMap">
    select
      t.*,
      rt.value reportTypeValue
    from unit_fac_report t
    left join config_fac_report_type rt on t.type_id = rt.id
    where t.fac_id = #{facId}
    <if test="typeIds != null">
      and t.type_id in (
      <foreach item="item" index="index" collection="typeIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="typeId != null and typeId != ''">
      and t.type_id = #{typeId}
    </if>

    <if test="start_date != null and start_date != ''">
      and date(t.report_date)
      <![CDATA[  >=  ]]>
      date(#{start_date})
    </if>

    <if test="end_date != null and end_date != ''">
      and date(t.report_date)
      <![CDATA[  <=  ]]>
      date(#{end_date})
    </if>
    order by t.report_date desc
  </select>

  <select id="getFacReportById" parameterType="java.lang.String" resultMap="FacReportExtendMap">
    select
      t.*,
      rt.value reportTypeValue
    from unit_fac_report t
    left join config_fac_report_type rt on t.type_id = rt.id
    where t.id = #{id}
  </select>


</mapper>