<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.unit.dao.GroupMapper">
  <resultMap id="BaseGroupResultMap" type="com.rainbow.unit.domain.Group">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="emergency_tel" jdbcType="VARCHAR" property="emergencyTel" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
    <result column="leader_tel" jdbcType="VARCHAR" property="leaderTel" />
    <result column="depart_leader" jdbcType="VARCHAR" property="departLeader" />
    <result column="depart_leader_tel" jdbcType="VARCHAR" property="departLeaderTel" />
    <result column="is_import" jdbcType="INTEGER" property="isImport" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="survey" jdbcType="LONGVARCHAR" property="survey" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <resultMap id="GroupExtendMap" extends="BaseGroupResultMap" type="com.rainbow.unit.domain.GroupExtend"></resultMap>

  <select id="getGroupList" parameterType="map" resultMap="BaseGroupResultMap">
    select  * from unit_group t
    where 1=1
    <if test="name != null and name != ''">
      and instr(t.name,#{name})>0
    </if>

    <choose>
      <when test="checked != null and checked != ''">
        order by t.modify_date desc
      </when>
      <otherwise>
        order by t.name
      </otherwise>
    </choose>

  </select>

  <select id="getGroupById" parameterType="java.lang.String" resultMap="GroupExtendMap">

    select  * from unit_group t
    where t.id = #{id}

  </select>

  <delete id="deleteGroupById" parameterType="java.lang.String">
    delete from unit_group where id = #{id}
  </delete>

  <!--查询是否存在，每次需要根据进度添加 exists-->
  <select id="getGroupRelationCount" parameterType="java.lang.String" resultType="java.lang.Object">
    select
     t.id
    from unit_group t
    where t.id = #{id}
    and not exists(select 1 from unit_service_depart a where a.group_id = t.id)
    and not exists(select 1 from unit_umine b where b.group_id = t.id)
  </select>

  <select id="getGroupIdByName" parameterType="String" resultType="String">
    SELECT t.id from unit_group t where t.name=#{name} limit 1;
  </select>

</mapper>