<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.unit.dao.ServiceDepartMapper">
  <resultMap id="BaseServiceDepartResultMap" type="com.rainbow.unit.domain.ServiceDepart">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="emergency_tel" jdbcType="VARCHAR" property="emergencyTel" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
    <result column="leader_tel" jdbcType="VARCHAR" property="leaderTel" />
    <result column="depart_leader" jdbcType="VARCHAR" property="departLeader" />
    <result column="depart_leader_tel" jdbcType="VARCHAR" property="departLeaderTel" />
    <result column="is_import" jdbcType="INTEGER" property="isImport" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="survey" jdbcType="LONGVARCHAR" property="survey" />
    <result column="feature" jdbcType="LONGVARCHAR" property="feature" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <resultMap id="ServiceDepartExtendMap" extends="BaseServiceDepartResultMap" type="com.rainbow.unit.domain.ServiceDepartExtend">
  </resultMap>


  <select id="getServiceDepartList" parameterType="map" resultMap="ServiceDepartExtendMap">

    select
      t.*,
      g.name groupName
    from unit_service_depart t
    left join unit_group g on t.group_id = g.id
    where 1=1

    <if test="tname != null and tname != ''">
      and instr(t.name,#{tname})>0
    </if>

    <if test="gname != null and gname != ''">
      and instr(g.name,#{gname})>0
    </if>

  </select>


  <select id="getServiceDepartByServiceId" parameterType="map" resultMap="ServiceDepartExtendMap">
    select
      t.*,
      g.name groupName
    from unit_service_depart t
    left join unit_group g on t.group_id = g.id
    where t.id = #{id}

  </select>

  <select id="getSumByGroupId" parameterType="java.lang.String" resultType="int">
    select
       ifnull(sum(id),0)
    from unit_service_depart t
    where t.group_id = #{groupId}
  </select>

  <delete id="deleteServiceDepartById" parameterType="java.lang.String">
    delete from unit_service_depart where id = #{id}
  </delete>

  <!--查询是否存在，每次需要根据进度添加 exists-->
  <select id="getServiceDepartRelationCount" parameterType="java.lang.String" resultType="java.lang.Object">
    select
     t.id
    from unit_service_depart t
    where t.id = #{id}
    and not exists(select 1 from unit_fac a where a.service_id = t.id)
    and not exists(select 1 from unit_service_annual_report b where a.service_id = t.id)
    and not exists(select 1 from permit_fac c where c.service_id = t.id)
    and not exists(select 1 from permit_equip d where d.service_id = t.id)
    and not exists(select 1 from permit_activity e where e.service_id = t.id)
    and not exists(select 1 from check_fac f where f.service_id = t.id)
    and not exists(select 1 from check_equip g where g.service_id = t.id)
    and not exists(select 1 from check_activity h where h.service_id = t.id)
    and not exists(select 1 from monitor_daily i where i.service_id = t.id)
    and not exists(select 1 from monitor_check j where j.service_id = t.id)
    and not exists(select 1 from monitor_witness k where k.service_id = t.id)
    and not exists(select 1 from security_fac l where l.service_id = t.id)
    and not exists(select 1 from security_equip m where m.service_id = t.id)
    and not exists(select 1 from security_accident n where n.service_id = t.id)
  </select>
</mapper>