<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.unit.dao.UmineMountainMapper">
  <resultMap id="MountainBaseResultMap" type="com.rainbow.unit.domain.UmineMountain">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="umine_id" jdbcType="VARCHAR" property="umineId" />
    <result column="build_year" jdbcType="DATE" property="buildYear" />
    <result column="status_id" jdbcType="VARCHAR" property="statusId" />
    <result column="is_record" jdbcType="INTEGER" property="isRecord" />
    <result column="is_accept" jdbcType="INTEGER" property="isAccept" />
    <result column="is_import" jdbcType="INTEGER" property="isImport" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="survey" jdbcType="LONGVARCHAR" property="survey" />
    <result column="danger_firepoint" jdbcType="LONGVARCHAR" property="dangerFirepoint" />
    <result column="water_volumn" jdbcType="LONGVARCHAR" property="waterVolumn" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <select id="getMountainSumByUmineId" parameterType="java.lang.String" resultType="int">
    select
     ifnull(sum(id),0)
    from unit_umine_mountain t
    where t.umine_id = #{umineId}
  </select>

  <resultMap id="MountainExtendMap" type="com.rainbow.unit.domain.UmineMountainExtend" extends="MountainBaseResultMap">
    <result column="umineName" jdbcType="VARCHAR" property="umineName" />
    <result column="statusValue" jdbcType="VARCHAR" property="statusValue" />
  </resultMap>



  <select id="getUmineMountainList"  resultMap="MountainExtendMap">
    select
     t.*,
     u.name umineName,
     s.value statusValue
    from unit_umine_mountain t
    left join unit_umine u on t.umine_id = u.id
    left join  config_umine_mountain_status s on t.status_id = s.id
    where 1=1

    <if test="name != null and name != ''">
      and instr(t.name,#{name})>0
    </if>

    <if test="umineName != null and umineName != ''">
      and instr(u.name,#{umineName})>0
    </if>


    <if test="build_year != null and build_year != ''">
      and instr(t.build_year,#{build_year})>0
    </if>

    <if test="statusIds != null">
      and t.status_id in (
      <foreach item="item" index="index" collection="statusIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="is_record != null and is_record != ''">
      and t.is_record = #{is_record}
    </if>

    <if test="is_accept != null and is_accept != ''">
      and t.is_accept = #{is_accept}
    </if>

  </select>

  <select id="getUmineMountainById" parameterType="java.lang.String" resultMap="MountainExtendMap">
    select
       t.*,
       u.name umineName,
       s.value statusValue
    from unit_umine_mountain t
    left join unit_umine u on t.umine_id = u.id
    left join  config_umine_mountain_status s on t.status_id = s.id
    where t.id = #{id}

    <if test="name != null and name != ''">
      and instr(t.name,#{name})>0
    </if>

    <if test="umineName != null and umineName != ''">
      and instr(u.name,#{umineName})>0
    </if>


    <if test="build_year != null and build_year != ''">
      and instr(t.build_year,#{build_year})>0
    </if>

    <if test="statusIds != null">
      and t.status_id in (
      <foreach item="item" index="index" collection="statusIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="is_record != null and is_record != ''">
      and t.is_record = #{is_record}
    </if>

    <if test="is_accept != null and is_accept != ''">
      and t.is_accept = #{is_accept}
    </if>

  </select>
</mapper>