<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.config.dao.LinkDetailMapper">
  <resultMap id="BaseResultMap" type="com.rainbow.config.domain.LinkDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="linkorder" jdbcType="INTEGER" property="linkorder" />
  </resultMap>

  <select id="getAllLinkList" resultMap="BaseResultMap">
      select t.* from link_detail t ORDER BY t.`linkorder`
  </select>
</mapper>