<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.config.dao.SystemConfigMapper">
  <resultMap id="SystemConfigResultMap" type="com.rainbow.config.domain.SystemConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="order" jdbcType="INTEGER" property="order" />
  </resultMap>

  <select id="getAllTables" resultType="java.lang.String">
       select TABLE_NAME from information_schema.TABLES where TABLE_SCHEMA=(select database())
  </select>

  <select id="getSystemConfigByTableName" resultType="SystemConfig" statementType="STATEMENT">
    select * from ${_parameter}
  </select>

  <select id="getSystemConfigByTableNameAndID" resultType="SystemConfig" statementType="STATEMENT">
    select * from ${_parameter}
  </select>

  <insert id="saveConfigByTableNameAndValues" parameterType="java.util.Map">
    insert into ${tableName}(id,`value`,`order`) values(#{id},#{value},#{order})
  </insert>

  <select id="getOrderByTableName" resultType="java.lang.Integer" statementType="STATEMENT">
    select max(`order`) from ${_parameter}
  </select>

  <update id="modifyConfigByTableNameAndValue" parameterType="java.util.Map">
    update ${map.tableName} set `value`= #{map.value} where id = #{map.id}
  </update>

  <select id="getConfigIdByName" parameterType="map" resultType="String">
    SELECT t.id from ${tablename} t where t.value =#{value}
  </select>

  <select id="getDicItemsByTable" parameterType="map" resultMap="SystemConfigResultMap">
      SELECT * from ${tableName}
  </select>


</mapper>