<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UminePlaceFileCheckMapper">
  <resultMap id="BaseResultMap" type="domain.UminePlaceFileCheck">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="check_umine_place_id" jdbcType="VARCHAR" property="checkUminePlaceId" />
    <result column="check_file_type_id" jdbcType="VARCHAR" property="checkFileTypeId" />
    <result column="file_date" jdbcType="DATE" property="fileDate" />
    <result column="file_no" jdbcType="VARCHAR" property="fileNo" />
  </resultMap>
</mapper>