<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.permit.dao.EquipPermitMapper">
  <resultMap id="EquipPermitBaseResultMap" type="com.rainbow.permit.domain.EquipPermit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="depart_id" jdbcType="VARCHAR" property="departId" />
    <result column="service_id" jdbcType="VARCHAR" property="serviceId" />
    <result column="fac_id" jdbcType="VARCHAR" property="facId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="level_id" jdbcType="VARCHAR" property="levelId" />
    <result column="permit_stage_id" jdbcType="VARCHAR" property="permitStageId" />
    <result column="permit_date" jdbcType="DATE" property="permitDate" />
    <result column="validate_time" jdbcType="VARCHAR" property="validateTime" />
    <result column="permit_number" jdbcType="VARCHAR" property="permitNumber" />
    <result column="is_import" jdbcType="INTEGER" property="isImport" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="permit_condition" jdbcType="LONGVARCHAR" property="permitCondition" />
    <result column="review_promise" jdbcType="LONGVARCHAR" property="reviewPromise" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <resultMap id="EquipPermitExtendMap" extends="EquipPermitBaseResultMap" type="com.rainbow.permit.domain.EquipPermitExtend">
    <result column="serviceDepartValue" jdbcType="VARCHAR" property="serviceDepartValue" />
    <result column="facValue" jdbcType="VARCHAR" property="facValue" />
    <result column="permitStageValue" jdbcType="VARCHAR" property="permitStageValue" />
  </resultMap>
</mapper>