<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.permit.dao.EquipPermitMapper">
  <resultMap id="EquipPermitBaseResultMap" type="com.rainbow.permit.domain.EquipPermit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="equip_depart_id" jdbcType="VARCHAR" property="equipDepartId" />
    <result column="service_id" jdbcType="VARCHAR" property="serviceId" />
    <result column="fac_id" jdbcType="VARCHAR" property="facId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="level_id" jdbcType="VARCHAR" property="levelId" />
    <result column="stage_id" jdbcType="VARCHAR" property="stageId" />
    <result column="permit_date" jdbcType="DATE" property="permitDate" />
    <result column="validate_time" jdbcType="VARCHAR" property="validateTime" />
    <result column="permit_number" jdbcType="VARCHAR" property="permitNumber" />
    <result column="is_import" jdbcType="INTEGER" property="isImport" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="permit_condition" jdbcType="LONGVARCHAR" property="condition" />
    <result column="review_promise" jdbcType="LONGVARCHAR" property="reviewPromise" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <resultMap id="EquipPermitExtendMap" extends="EquipPermitBaseResultMap" type="com.rainbow.permit.domain.EquipPermitExtend">
    <result column="equipDepartName" jdbcType="VARCHAR" property="equipDepartName" />
    <result column="serviceDepartName" jdbcType="VARCHAR" property="serviceDepartName" />
    <result column="facName" jdbcType="VARCHAR" property="facName" />
    <result column="typeValue" jdbcType="VARCHAR" property="typeValue" />
    <result column="levelValue" jdbcType="VARCHAR" property="levelValue" />
    <result column="stageValue" jdbcType="VARCHAR" property="stageValue" />
  </resultMap>


  <select id="getEquipPermitList" parameterType="map" resultMap="EquipPermitExtendMap">

    select
     t.*,
     ea.name equipDepartName,
     sd.name serviceDepartName,
     f.name facName,
     et.value typeValue,
     el.value levelValue,
     ps.value stageValue
    from permit_equip t
    left join  unit_equip_depart ea on t.equip_depart_id = ea.id
    left join  unit_service_depart sd on t.service_id = sd.id
    left join  unit_fac f on t.fac_id = f.id
    left join  config_equip_type et on t.type_id = et.id
    left join  config_equip_level el on t.level_id = el.id
    left join  config_equip_permit_stage ps on t.stage_id = ps.id
    where 1=1

    <if test="name != null and name != ''">
      and instr(t.name,#{name})>0
    </if>

    <if test="equipDepartName != null and equipDepartName != ''">
      and instr(ea.name,#{equipDepartName})>0
    </if>

    <if test="serviceDepartName != null and serviceDepartName != ''">
      and instr(sd.name,#{serviceDepartName})>0
    </if>

    <if test="facName != null and facName != ''">
      and instr(f.name,#{facName})>0
    </if>

    <if test="typeIds != null">
      and t.type_id in (
      <foreach item="item" index="index" collection="typeIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="levelIds != null">
      and t.level_id in (
      <foreach item="item" index="index" collection="levelIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="stageIds != null">
      and t.stage_id in (
      <foreach item="item" index="index" collection="stageIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="start_date != null and start_date != ''">
      and DATE(t.permit_date) <![CDATA[  >=  ]]>  DATE(#{start_date})
    </if>

    <if test="end_date != null and end_date != ''">
      and DATE(t.permit_date) <![CDATA[  <=  ]]>  DATE(#{end_date})
    </if>

    <if test="equipdepartId != null and equipdepartId != ''">
      and t.equip_depart_id = #{equipdepartId}
    </if>


  </select>

  <select id="getEquipPermitById" parameterType="java.lang.String" resultMap="EquipPermitExtendMap">

    select
     t.*,
     ed.name equipDepartName,
     sd.name serviceDepartName,
     f.name facName,
     et.value typeValue,
     el.value levelValue,
     ps.value stageValue
    from permit_equip t
    left join  unit_equip_depart ed on t.equip_depart_id = ed.id
    left join  unit_service_depart sd on t.service_id = sd.id
    left join  unit_fac f on t.fac_id = f.id
    left join  config_equip_type et on t.type_id = et.id
    left join  config_equip_level el on t.level_id = el.id
    left join  config_equip_permit_stage ps on t.stage_id = ps.id
    where t.id = #{id}

  </select>

  <select id="getEquipNum" resultType="java.lang.Integer">
    select count(*) from permit_equip t where t.stage_id='a8952e71-a1e4-11e9-988b-507b9dae29a9'
  </select>
</mapper>