<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.permit.dao.FacPermitMapper">
  <resultMap id="FacPermitBaseResultMap" type="com.rainbow.permit.domain.FacPermit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="service_id" jdbcType="VARCHAR" property="serviceId" />
    <result column="fac_id" jdbcType="VARCHAR" property="facId" />
    <result column="stage_id" jdbcType="VARCHAR" property="stageId" />
    <result column="permit_date" jdbcType="DATE" property="permitDate" />
    <result column="licence" jdbcType="VARCHAR" property="licence" />
    <result column="is_import" jdbcType="INTEGER" property="isImport" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="scope" jdbcType="LONGVARCHAR" property="scope" />
    <result column="permit_condition" jdbcType="LONGVARCHAR" property="condition" />
    <result column="promise" jdbcType="LONGVARCHAR" property="promise" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  <resultMap id="FacPermitExtendMap" extends="FacPermitBaseResultMap" type="com.rainbow.permit.domain.FacPermitExtend">
    <result column="serviceDepartName" jdbcType="VARCHAR" property="serviceDepartName" />
    <result column="facName" jdbcType="VARCHAR" property="facName" />
    <result column="permitStageValue" jdbcType="VARCHAR" property="permitStageValue" />
  </resultMap>


  <select id="getFacPermitList" parameterType="map" resultMap="FacPermitExtendMap">

    select
    t.*,
    sd.name serviceDepartName,
    f.name facName,
    ps.value permitStageValue
    from permit_fac t
    left join  unit_service_depart sd on t.service_id = sd.id
    left join  unit_fac f on t.fac_id = f.id
    left join  config_fac_permit_stage ps on t.stage_id = ps.id
    where 1=1

    <if test="serviceDepartName != null and serviceDepartName != ''">
      and instr(sd.name,#{serviceDepartName})>0
    </if>

    <if test="facName != null and facName != ''">
      and instr(f.name,#{facName})>0
    </if>

    <if test="permitStageIds != null">
      and t.stage_id in (
      <foreach item="item" index="index" collection="permitStageIds" separator=",">
        #{item}
      </foreach>
      )
    </if>

    <if test="start_date != null and start_date != ''">
      and DATE(t.permit_date) <![CDATA[  >=  ]]>  DATE(#{start_date})
    </if>

    <if test="end_date != null and end_date != ''">
      and DATE(t.permit_date) <![CDATA[  <=  ]]>  DATE(#{end_date})
    </if>

    <if test="facId != null and facId != ''">
      and t.fac_id = #{facId}
    </if>

  </select>

  <select id="getFacPermitById" parameterType="java.lang.String" resultMap="FacPermitExtendMap">


    select
    t.*,
    sd.name serviceDepartName,
    f.name facName,
    ps.value permitStageValue
    from permit_fac t
    left join  unit_service_depart sd on t.service_id = sd.id
    left join  unit_fac f on t.fac_id = f.id
    left join  config_fac_permit_stage ps on t.stage_id = ps.id
    where t.id = #{id}

  </select>

</mapper>